package pages

import (
	"feed/internal/domain/entity"
	"feed/internal/templates/shared"
	"feed/internal/templates/partials"
)

templ HomePage(tweets []*entity.Tweet) {
	@shared.Page("Home") {
		@partials.Header()
		@partials.TweetsView(tweets)
		@partials.Footer()
	}
}
