package shared

import (
	"feed/internal/templates/partials"
	"os"
)

templ Page(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>{ title }</title>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link rel="stylesheet" href="/dist/styles.css"/>
		</head>
		<body class="">
			{ children... }
			if os.Getenv("FLY_APP_NAME") == "" {
				@partials.TailwindIndicator()
			}
		</body>
	</html>
}
