package partials

templ Footer () {
	<div class="w-full bg-slate-100">
		<div class="container mx-auto flex h-14 items-center px-4 ">
			<div class="">Powered by Go 🚀</div>
			<div class="hidden md:block">&nbsp;- You do not need React for everything :)</div>
			<div class="grow"></div>
			<a href="https://github.com/itsjoeoui/feed" target="_blank" class="">github.com/itsjoeoui/feed</a>
		</div>
	</div>
}
