package partials

templ Footer () {
	<div class="w-full bg-slate-100">
		<div class="container mx-auto flex gap-2 h-14 items-center px-4 ">
			<div class="">Powered by Go, say no to client-side JavaScript frameworks.</div>
			<div class="grow"></div>
			<a href="https://github.com/itsjoeoui/feed" target="_blank" class="">github.com/itsjoeoui/feed</a>
		</div>
	</div>
}
