package partials

templ Header() {
	<div class="sticky top-0 w-full bg-slate-100">
		<div class="container mx-auto flex gap-2 h-14 items-center px-4">
			<div class="font-bold">Joey's Feed</div>
			<a href="https://jyu.dev" target="_blank" class="">jyu.dev</a>
			<div class="grow"></div>
			<a href="/auth/google/login">Log In</a>
		</div>
	</div>
}
