package partials

import (
	"feed/internal/domain/entity"
)

templ TweetView(tweet *entity.Tweet) {
	<div class="flex flex-col md:flex-row gap-2 md:gap-8 border border-slate-200 rounded-xl p-4 hover:bg-slate-50 transition duration-300 ease-in-out">
		<div class="font-mono flex-shrink-0">{ tweet.CreatedAt.Format("2006-01-02 15:04:05") }</div>
		<div>{ tweet.Content }</div>
	</div>
}
